/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* My Reset */

button,
input,
textarea {
    box-shadow: none;
    outline: 0;
    border: 0;
}

img {
    font-size: 0;
    vertical-align: top;
}


/* My CSS */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Fresca', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: inline-block;
}

.padding {
    padding: 5rem 0;
}


/* Buttons */

.btn {
    padding: 0.8rem 2rem;
    background: transparent;
    border-radius: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
    letter-spacing: 0.05rem;
    color: #555;
    cursor: pointer;
}

.btn-primary {
    background: rgba(0, 85, 124, 0.342);
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background: rgba(34, 36, 35, 0.479);
}

.btn-secondary {
    border: 2px solid rgba(0, 85, 124, 0.342);
}

.btn-secondary:hover {
    border: 2px solid rgba(34, 36, 35, 0.479);
    background: rgba(34, 36, 35, 0.479);
    color: #fff;
}


/* Responsive Image */

.img-responsive {
    width: 100%;
    height: auto;
}


/* Main Wrapper */

.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


/* Main Header */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.6rem 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}

.logo:hover {
    color: rgba(34, 36, 35, 0.767);
}

.menu-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(0, 159, 165, 0.623);
    margin-left: 2rem;
}

.article-text a:hover,
.menu-item:hover {
    color: #fff;
}
.nav{
    box-shadow: 5px #555;
}


/* Hero Section */

.hero {
    background: linear-gradient(to right bottom, rgb(0, 47, 78), rgba(0, 11, 31, 0.815));
    padding: 15rem 0 5rem 0;
}

.col {
    width: 50%;
}

.col-img {
    margin-right: 0;
}

.hero-heading {
    font-size: 3rem;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 700;
    width: 100%;
}

.hero-para {
    font-size: 1.2rem;
    color: #fff
}

.uppercase {
    text-transform: uppercase;
}

.col1 {
    padding: 0 5rem;
    text-align: center;
}


/* Magna Section */

.magna-heading {
    font-size: 2.3rem;
    color: #555;
    margin-bottom: 2rem;
}

.magna-description {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 400;
    color: #777;
}

.magna-list {
    padding-left: 2rem;
}

.magna-item {
    line-height: 3;
    font-size: 1.2rem;
    color: #777;
    list-style-image: url("../images/right.png");
    padding-left: 0.5rem;
}


/* Article Section */

.article {
    background: rgb(163,172,162);
background: radial-gradient(circle, rgba(163,172,162,1) 0%, rgba(230,228,235,1) 16%, rgba(174,215,224,1) 42%, rgba(212,183,226,1) 67%, rgba(148,231,233,1) 89%);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.article-container {
    /*background: rgba(26, 27, 39, 0.65);*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 3.3rem;
}

.article-container-1 {
    margin-bottom: none;
    border-bottom: 0;
}

.article-img {
    width: 40%;
    padding: 1rem;
}

.article-description {
    width: 60%;
    padding: 0 3rem;
}

.article-heading {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.article-text {
    font-size: 1.1rem;
    color: #fff;
    line-height: 2.3;
}

.article-text li {
    list-style-type: square;
}

.article-text a {
    font-size: 1.1rem;
    color: #888;
    line-height: 2.3;
}

.text-center {
    text-align: center;
}


/* Footer */

.footer {
    background: linear-gradient(to right bottom, rgb(0, 47, 78), rgba(0, 11, 31, 0.815));
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 3rem;
    color: #888;
}

@media all and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .col,
    .article-img,
    .article-description {
        width: 100%;
    }
    .article-description {
        padding: 3rem;
    }
    .col1 {
        width: 100%;
        padding: 2rem;
    }
    .col2 {
        border-left: 0;
        padding-left: 0;
    }
}