/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* My Reset */

button,
input,
textarea {
    box-shadow: none;
    outline: 0;
    border: 0;
}

img {
    font-size: 0;
    vertical-align: top;
}
 /* MY CSS */
html{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
 }
body{
    line-clamp: 1.5;
 }
 .header{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.6rem 0;
 }

a{
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 2;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2rem;
    color: rgb(65, 65, 65);
    font-weight: 900;
}
.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

* {
    box-sizing: border-box;
}
.menu-item{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
    margin-left: 2rem;
}
/* Article section */


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.col-1{
    height: 900px;
    background-image: url(../images/home-img.jpg);
    background-position: center;
}
.col-2{
    background: rgb(255, 239, 231);
}
.intro{
    margin-top: 35%;
    padding: 3rem;
}
.intro h3{
    font-size: 1.2rem;
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    line-height: 3rem;
}
.intro h2{
    font-size: 2rem;
    color: rgb(66, 66, 66);
    font-weight: 300;
    line-height: 2rem;
}
.intro p{
    color: rgb(196, 196, 196);
    margin-top: 1.5rem;
}

.btn{
    padding: 0.8rem 2rem;
    background: transparent;
    border-radius: 3rem;
    text-transform: uppercase;
    border: 4px solid rgb(53, 53, 53);
    color: rgb(53, 53, 53);
    margin-top: 3.5rem;
    font-weight: 700;
}
.col-1-2{
    padding: 3rem;
}
.col-1-2 h2{
    font-size: 2rem;
}
.col-1-2 h4{
    color: rgb(245, 195, 139);
    margin-top: 2rem;
}
.col-1-2 p{
    margin-top: 2rem;
    font-weight: 400;
    color: rgb(160, 160, 160);
}
.background{
    background-image: url("../images/about-img.jpg");
    height: 304px;
    background-position: center;
    background-size: cover;
}
.col-2-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.text{
    padding: 2rem;
    background: rgb(255, 201, 86);
}
.text h2{
    font-size: 2.5rem;
}
.desktop-color{
    background: rgb(255, 201, 86);
}
.desktop{
    padding: 2rem;
    text-align: center;
}
.desktop h3{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #fff;
}
.desktop i {
    margin-top: 1rem;
    font-size: 2.2rem;
    color: #fff;
}
.desktop p{
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.media-color{
    background: rgb(255, 125, 86);
}
.mobile-color{
    background: #000;
}
.coding{
    background: #fff;
    padding: 2rem;
    text-align: center;
}
.coding h3{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #000;
}
.coding i{
    margin-top: 1rem;
    font-size: 2.2rem;
    color: #000;
}
.coding p{
    color: #aaa;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.col-1-3{
    background-image: url("../images/experience-img.jpg");
    height: 25rem;
    background-position: center;
    background-size: cover;
}
.col-2-3{
    padding: 2rem;
    color: #fff;
}
.col-2-3 h2{
    font-size: 3rem;
}
.col-2-3 p{
    margin-top: 1.5rem;
}
.col-2-3 i, h3{
    margin-top: 2rem;
    font-size: 1.5rem;
}
.p-text{
    margin-left: 2rem;
}
.col-3-3{
    background-image: url("../images/education-img.jpg");
    height: 368px;
    background-size: cover;
    background-position: center;
}
form{
    padding: 2rem;
}
.form p{
    margin-top:1rem;
}
.form h2{
    font-size: 2rem;
}
.form-control{
    background: rgb(255, 125, 86);
    margin-top: 2rem;
    font-size: 1rem;
    color: #fff;
    border-bottom: 1px solid rgb(255, 189, 48);
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
}
.input-field{
    width: 80%;
}
.form-control::placeholder {
    color: #c3c3c3;
}
.col-2-2-pic{
    background-image: url("../images/contact-img.jpg");
    height: 556.94px;
    background-position: center;
    background-size: cover;
}
.col-4-2{
    background: #000;
    padding: 2.5rem;
}
.col-4-2 p, a{
    margin-top: 1rem;
    color: #aaa;
}
.col-4-2 address{
    color: rgb(153, 153, 153);
    margin-top: 2rem;
}
.col-4-2 h4{
    font-size: 2rem;
    color: rgb(212, 212, 212);
    margin-bottom: 2rem;
}
.col-4-2 h3{
    color: rgb(212, 212, 212);
    margin: 2rem 0;
}

.footer{
    padding: 3rem;
    background: #fff;
}

.ham-menu{
    text-align: right;
    padding-right: 3rem; 
    display: none;
}
.dropdown{
    display: none;
}

@media all and (max-width: 768px){
    html{
        font-size: 12px;
    }

    .parent,.col-2-2{
        grid-template-columns: 1fr;
    }
    .ham-menu {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .nav a:hover, .dropdown:hover .ham-menu {
        background-color: red;
      }
      .dropdown a:hover {
        background-color: #ddd;
      }
      .dropdown a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .down:hover .dropdown {
        display: block;
      }
      .intro{
          margin: 0 auto;
      }
}